
.stock_header{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}
/***************************************************************/
.addproduct_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 500px;
}
.addproduct_child{
    display: flex;
}
.addproduct_fields{
    margin: 10px;
    width: 180px;
}
.validerror{
    font-size: 0.6rem;
    text-transform: uppercase;
    color: red;
}
.add_product_button{
    font-size: 0.7rem !important;
}

.stock_filter{
    display: flex;
    align-items: center;
}
.stock_filter h3{
    font-size: 1.2rem;
    margin-right: 10px;
}
.stock_select{
    width: 120px !important;
}
.stock_addProduct{
    margin-left: 50px !important;
}

