.omHeader{
    text-align: center;
    padding: 10px 0px;
}
.omContent{
    display: flex;
    max-width: 390px;
}
.ao__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 18px 53px 0px rgba(0,0,0,0.3);
    border-radius: 20px;
    padding: 10px;
}
.ao__wrapper{
    display: flex;
}
.ao__container{
    padding: 10px;
    align-items: center;
}



.ao_timediv{
    padding: 10px 0;
}
.ao_addressdiv{
    display: flex;
    text-align: center;
    align-items: center;
}

.ao_selectproduct{
    padding: 7px 0;
}
.ao_validerror{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: red;
}
/*---------------------------------------------------------*/
.orderWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 18px 53px 0px rgba(0,0,0,0.3);
    border-radius: 20px;
    padding: 10px;
}
.orderForm{
    display: flex;
    flex-direction: column;
}
.orderForm{
    display: flex;
    flex-direction: column;
}
.addOrderWrapper{
    display: flex;
}
.aoParent{
    padding: 10px;
    align-items: center;
}
.aoChild{
    padding:5px 0px;
    width: 100%;
}
#orderSelect{
    padding-top: 5px;
}
.aoTime{
    display: flex;
    align-items: center;
}
#addOrder_chips{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    max-height: 200px;
    align-content: space-between;
    justify-content: space-between;
    padding-bottom: 10px;
}
.aoChips{
    margin: 5px;
}
.aoSend{
    text-align: center;
}